<h1>So what ?</h1>
<p>This Ticket application provides a Kanban dashboard for issues tracking.</p>
<p>An issue is a small card with a title, a description and a status.</p>
<p>An issue is created by the author and describes a task, which is done by the owner.</p>
<p>Author and owner are users.</p>
<p>Each issue belongs to a project.</p>
<p>Each issue has a status as 'To do', 'In progress', 'Done'...</p>
<h1>Getting started</h1>
<h2>Step 1: Getting an account</h2>
<p>Ask your administrator login/password credentials to sign in Ticket</p>
<h2>Step 2: Creating a project</h2>
<p>Create a new project or select a existing one</p>
<h2>Step 3: Creating an issue</h2>
<p>Create a new issue and describe the task to do. Issue status is 'To do'</p>
<h2>Step 4: Managing an issue</h2>
<p>Select this new issue. Set the status to 'In progress' or another status.</p>
<h2>Step 5: Managing your work</h2>
<p>Look at the dashboard.</p>
<h1>Informations</h1>
<p>Ticket is a Ruby on Rails application.</p>
