<!DOCTYPE html>
<html>
  <head>
    <title>Page not found</title>
    <%= stylesheet_link_tag 'error', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <a href="/">
      <!-- img src="/error404.jpg" alt="Go home" style="margin:0px auto;display:block" width="60%" -->
      <!-- %= image_tag("error404.jpg", :alt => "Go home" :style => "margin:0px auto;display:block" :width => "60%") % -->
      <%= image_tag("error404.jpg") %>
    </a>
  </body>
</html>
