<table class="board">
  <thead>
    <tr>
      <% statuses.each do |s| %>
      <td><%= s.name %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% all_tickets.each do |st| %>
      <tr>
        <% st.each do |t| %>
          <% if t.nil? %>
            <td class="empty"></td>
          <% else %>
            <td class="postit">
              <%= image_tag("pins/#{t.color}.png", alt:"#{t.color}") %>
              <div class="ref"># <%= t.id %></div>
              <div class="txt"><%= t.description %></div>
            </td>
          <% end %>
        <% end %>
      <% end %>
  </tbody>
</table>
