<%= render_flash_messages %>

<div id="login-form">
  <form action="/project" accept-charset="UTF-8" method="post">
    <!-- input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="authenticity_token" value="aJIWx903aAlpX8+U9qR9VJU28PMpeY+jroAIauuCAyXXPwVhSkjKM4J9BHqUO1VopefGkkyAZIM5SUXMGIq9WQ==" />
    <input type="hidden" name="back_url" value="http://localhost:3000/" / -->

    <table>
      <tr>
        <td style="text-align:right;">New project</td>
        <td style="text-align:left;"></td>
      </tr>
      <tr>
        <td style="text-align:right;"><label for="name">Name:</label></td>
        <td style="text-align:left;"> <input type="text" name="name" id="name" value="" tabindex="1" /></td>
      </tr>
      <tr>
        <td style="text-align:right;"><label for="description">Description:</label></td>
        <td style="text-align:left;"><input type="text" name="description" id="description" tabindex="2" /></td>
      </tr>
      <tr>
        <td style="text-align:right;"></td>
        <td style="text-align:left;"></td>
      </tr>
      <tr>
        <td style="text-align:left;"><input  type="submit" name="cancel" value="Cancel" tabindex="3"/></td>
        <td style="text-align:right;"><input type="submit" name="valid"  value="Valid"  tabindex="4"/></td>
      </tr>
    </table>
  </form>
</div>



