/***** Login  *****/
#login-form {margin:100px;}
#login-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #0C0C40; background-color:#DDEEFF; }
#login-form table td {padding: 6px; }
#login-form label {font-weight: bold;}
#login-form input#username, #login-form input#password { width: 300px; padding-left:0.5em; }
/*
#login-form input#username, #login-form input#password { width: 300px; padding-left:1em; background:white; }
#login-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #0C0C40; background-color:#7EBEEC; }
#login-form input#username, #login-form input#password { width: 300px; background-color:#DEEEFF; }
*/

