/***** Project  *****/
#project-form {margin:100px;}
#project-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #0C0C40; background-color:#DDEEFF; }
#project-form table td {padding: 6px; }
#project-form label  {font-weight: bold;}
#project-form input  { width: 300px; padding-left:0.5em; }
#project-form button {
  cursor: pointer;
  border: 0;
  background-color: #DDEEFF;
}
